* {
    font-family: Helvetica;
    color: white;
}

body {
    background-color: rgb(245, 121, 121);
}

#header {
    text-align: center;
}

#main-data {
    border-radius: 10px;
    background-color: rgb(240, 59, 59);
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

#search-bar {
    border-radius: 30px;
    width: 300px;
    height: 50px;
    color: gray;
    font-size: 45px;
    text-align: center;
}